<mat-card>
    <mat-card-title>Apagando Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [value]="product.price" name="price" disabled>
        </mat-form-field>
    </form>

    <button mat-reset-button (click)="deleteProduct()">
        Deletar
    </button>

    <button mat-reset-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
  