<mat-card>
    <mat-card-title>Alterando Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" *ngIf="product" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" *ngIf="product" name="price">
        </mat-form-field>
    </form>

    <button mat-reset-button (click)="updateProduct()">
        Salvar
    </button>

    <button mat-reset-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>