<div class="mat-elevation-z6">
    <table mat-table class="full-width-table" [dataSource]="products">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef >Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <!-- Name Price -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let row">{{row.price | currency:'BRL'}}</td>
      </ng-container>

      <!-- Name Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Acões</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/products/update/{{row.id}}">
                <i class="material-icons edit" >
                    edit
                </i>
            </a>
            <a routerLink="/products/delete/{{ row.id }}">
                <i class="material-icons delete">
                    delete
                </i>
            </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
  