<form method="POST"> 
    <input type="hidden" name="id" value="3">
    <input type="text" name="nome">
    <input type="password" name="senha">
    <textarea name="bio" cols="30" rows="10"></textarea>
    <div>
        <input type="radio" name="tipo" value="Admin">Admin
        <input type="radio" name="tipo"value="Regular">Regular
        <input type="radio" name="tipo"value="Professor">Professor
    </div>
    <div>
        <input type="checkbox" name="ativo">Ativo
    </div>

    <select name="estado">
        <option value="">Selecione</option>
        <option value="ba">bahia</option>
        <option value="rj">RioJaneiro</option>
        <option value="sp">SaoPaulo</option>
    </select>

    <select name="interesse" multiple size="5">
        <option value="c">c</option>
        <option value="php">php</option>
        <option value="js">js</option>
        <option value="go">go</option>
        <option value="ts">ts</option>
        <option value="html">html</option>
        <option value="c#">c#</option>
        <option value="linux">linux</option>
        <option value="js">js</option>
    </select>
    <button formaction="http://localhost:3003/usuarios">Incluir</button>
    <button formaction="http://localhost:3003/usuarios/3">Alterar</button>
</form>

<style>
    input, textarea, select {
        display: block;
        margin-bottom: 10px;
    }

    input[type="radio"], input[type="checkbox"] {
        display: inline;
    }
</style>