<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Gerador de QRCode</title>
</head>

<body>

    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" :value="text" @input="onData">
        <div v-if="text" class="output">
            <img :src="newQRCode" alt="">
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                titulo: "Gerador de qrcode",
                text: "https:/youtube.com",
                qrcode: new QRious({zise: 300})
            },
            computed: {
                newQRCode() {
                    this.qrcode.value = this.text
                    return this.qrcode.toDataURL()
                }
            },
            methods: {
                onData(event) {
                    this.text = event.target.value
                }
            }
        })
    </script>
</body>

</html>