<p>
    <img src="http://files.cod3r.com.br/curso-web/imagem1.jpg" alt="Muro da cidade" width="500" title="Muro da Cidade por alguem">
</p>
<p>
    <img src="http://files.cod3r.com.br/curso-web/imagem2.gif" alt="Intro Cod3r" height="340">
</p>

<p class="circular">
    <img src="http://files.cod3r.com.br/curso-web/imagem3.png" alt="Muro da cidade" width="500" title="Muro da Cidade por alguem">
</p>

<p class="texto" >
    <img src="http://files.cod3r.com.br/curso-web/avatar.jpg" alt="Avatar" width="30px" align="left">
    smdaklmsdklams kdlmklmfklasm lkdfmlkasmk dlmaklmdkmaklsdmada
    sdamlksdm aklsdmaklsm dlkamskldmaklmsdklaksdamdmlamksmd kmasdlkamlskd
    kasmkldam sdlamlsma
</p>

<p class="cidade"></p>

<style>

    .texto {
        width: 400px;
    }
    .cidade {
        width: 300px;
        background-image: url('http://files.cod3r.com.br/curso-web/imagem4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
    }
</style>