<!-- URL absoluta -->
<a href="https://google.com.br">Google 1</a>
<a href="https://google.com.br" target="_blank">Google 2</a>

<!-- URL relativa -->
<a href="index.html">volta 1</a>
<a href="/index.html">volta 2</a>
<a href="../index.html">volta 3</a>

<a href="mailto:email@empresa.com.br">Entre em contato</a><br><br>

<div id="noticia" style="position: absolute; top: 2000px">
    <h1>Noticia</h1>
    <p>nao ´p nad</p>
</div>

<a href="#noticia">ir pra</a>