<table>
    <caption>Produtos</caption>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>IPad</td>
            <td>3289</td>
            <td>5</td>
            <td>1655</td>
        </tr>
        <tr>
            <td>Tv</td>
            <td>1500</td>
            <td>8</td>
            <td>15</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>3014</td>
        </tr>
    </tfoot>
</table>

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }

    thead tr {
        border-bottom: solid 3px #444;
    }

    tbody tr:hover {
        background-color: rgb(102, 101, 101);
    }

    tfoot {
        background-color: #444;
        color: aliceblue;
    }

</style>