<video width="800px" height="450px" id="meuVideo" controls controlsList="nodownload">
  <source src="http://files.cod3r.com.br/curso-web/video.mp4" type="video/mp4">
</video>

<div wm-progresso="meuVideo" class="progresso">
  <div></div>
</div>

<div>
  <button wm-play="meuVideo">Play</button>
  <button wm-pause="meuVideo">Pause</button>
</div>

<style>
  .progresso{
    height: 20px;
    width: 500px;
    border: solid 1px #444;
    margin: 20px;
  }

  .progresso > div {
    background-color: red;
    color: #fff;
    height: 100%;
    font-size: 14px;
    text-align: right;
  }
</style>

<script>
  function configuraVideo(id) {
    const video =  document.getElementById(id)
    video.oncontextmenu = () => false

    document.querySelector(`[wm-play=${id}]`).onclick = e => video.play()
    document.querySelector(`[wm-pause=${id}]`).onclick = e => video.pause()
  }

  configuraVideo('meuVideo')
</script>