<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Conceitos Básicos</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p>1) {{2+2}}</p>
        <p>2) {{"teste".toUpperCase()}}</p>
        <p>3) produto nome: {{nome}}</p>
        <p>4) hora certa: {{horaCerta()}}</p>
        <p>5) preco: {{preco}}</p>
        <p>4) preco com desconto: {{precoComDesconto}}</p>
         <!-- 5 é uma função mas que não e chamada como função porque ela está em computed  -->
    </div>
    <script>
        new Vue ({
            el: "#app",
            data: {
                nome: 'Caneta',
                preco: 10.50,
                desconto: 0.15
            },
            methods: {
                horaCerta() {
                    return new Date().toLocaleString()
                }
            },
            computed: {
                precoComDesconto() {
                    return this.preco * (1 - this.desconto);
                }
            }
        })
    </script>
</body>
</html>