<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Binding</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p>{{link}}</p>
        <p><a href="{{link}}">Youtube</a> </p>
        <p><a v-bind:href="link">canal</a>     </p>
        <p><a :href="link">canal2</a>    </p>
        <p><input type="text" v-model="nome" > </p>
        <p>{{nome}}</p>
    </div>
    <script>
        new Vue ({
            el: "#app",
            data: {
                nome: "Will",
                link: "https://youtube.com"
            },
            watch: {
                nome(novo) {
                    console.log(novo.toUpperCase())
                }
            } 
        })
    </script>
</body>
</html>