<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Componente</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">

    <div id="app">
        <contador></contador>
        <contador></contador>
        <contador></contador>
        <contador></contador>
    </div>

    <script>
        Vue.component('contador', {
            data: function() {
                return {
                    contador: 0
                }
            },
            template: `
                <div>
                    {{contador}}
                    <button @click="add">aumentar</button>
                </div>
            `,
            methods: {
                add(){
                    this.contador++
                }
            }
        })
        new Vue ({
            el: "#app"
        })
    </script>
</body>
</html>