<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">

    <div id="app">
        <p v-for="(aluno, i) in alunos" >

            {{i+1}}) {{aluno.nome}} - {{aluno.nota}} -
            <span v-if="aluno.nota >= 9"> quandro de honra</span>
            <span v-else-if="aluno.nota >= 7"> aprovado</span>
            <span v-else-if="aluno.nota >= 3"> recuperação</span>
            <span v-else> reprovado</span>
        </p>
        <p>
            <ul v-for="i in 10">
                <span v-show="i % 2 == 0">{{i}}</span>
            </ul>
        </p>
    </div>

    <script>
        new Vue ({
            el: "#app",
            data: {
                alunos: [
                    {nome:"willian", nota: 10},
                    {nome:"guilherme", nota: 7},
                    {nome:"souza", nota: 2},
                    {nome:"reis", nota: 6}
                ]
            }
        })
    </script>
</body>
</html>