<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    
    <div id="app"></div>

    <script>
        new Vue({
            el: "#app",
            data: {
                titulo: "Vue.Js",
                subtitulo: "Framework Progressivo"
            },
            template: `
                <div>
                    <h1>{{titulo}}</h1>
                    <h3>{{subtitulo}}</h3>
                </div>
            `
        })
    </script>
</body>
</html>